
        .body-initial {
            background-color: rgba(255,255,255,1); 
            background-image: url('../assets/Orange%20Simple%20Gradient.jpg'); 
            background-attachment: fixed; 
        }
        .silex-id-1488498264261-3 {
            width: 100%; 
            min-height: 70px; 
            background-image: url('../assets/Orange%20Simple%20Gradient.jpg'); 
        }
        .silex-id-1488499842268-4 {
            top: 114px; 
             
        background-color: rgb(255, 255, 255); 
            left: 0px; 
            width: 1022px; 
            min-height: 274px; 
        }
    